<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">App La Esquina</span>
 <div>  
  <button class="btn btn-info btn-sm float-right botones" routerLink="/list-platos">Clientes</button>
  <button class="btn btn-info btn-sm float-right botones" routerLink="/list-platos">Platos</button>
  <button class="btn btn-info btn-sm float-right botones" routerLink="/list-categorias">Categorias</button>
  <button class="btn btn-info btn-sm float-right botones" routerLink="/pedidos">Pedidos</button>
</div>

  </nav>