<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <span class="h3">Listado de Categorias</span>
        <button class="btn btn-dark btn-lg float-right" routerLink="/create-categoria">Agregar</button>  
        <h5 style="margin-top: 30px;" *ngIf="category.length == 0">No hay datos para mostrar</h5>
        <table *ngIf="category.length > 0" class="table table-striped mt-5">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Imagen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of category">
              <td>{{ c.id }}</td>              
              <td>{{ c.name }}</td>
              <td><img [src]=" c.img" /></td>
              <td>
                <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editCategoria/', c.key]"></i>
                <i (click)="eliminarCategoria(c.id, c.key, c.nomimg)" class="fas fa-trash-alt fa-lg text-danger" ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
